<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diplomatask1_bookingcom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiplomaTask1_Bookingcom">
        <activity
            android:name=".Screen_loginHistory"
            android:exported="false" />
        <activity
            android:name=".Screen_otherUsers"
            android:exported="false" />
        <activity
            android:name=".Screen_createReservation"
            android:exported="false" />
        <activity
            android:name=".Screen__specificHotel"
            android:exported="false" />
        <activity
            android:name=".Screen_myReservations"
            android:exported="false" />
        <activity
            android:name=".Screeen_changeEmail"
            android:exported="false" />
        <activity
            android:name=".Screen_deleteAcc"
            android:exported="false" />
        <activity
            android:name=".Screen_profile"
            android:exported="false" />
        <activity
            android:name=".Screen_drawerMenu"
            android:exported="false" />
        <activity
            android:name=".Screen_hotelList"
            android:exported="false" />
        <activity
            android:name=".Screen_registration"
            android:exported="false" />
        <activity
            android:name=".Screen_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>